<div class="container mx-auto py-14 2xl:min-h-[calc(80vh-56px)]" @fadeInUp>
  <div class="px-4 flex flex-col">
    <div
      class="flex justify-between items-center mb-6 flex-col lg:flex-row gap-4 text-center lg:text-right"
    >
      <p>
        <span class="lg:text-2xl text-xl font-bold text-titles-text">
          {{ getTitle() }}
        </span>
        <br />
        @if (getSubtitle()) {
        <span class="lg:text-lg text-muted-text">
          {{ getSubtitle() }}
        </span>
        }
      </p>
    </div>

    @if (favoritePlaces().length === 0) {
    <p class="text-muted-text lg:text-xl text-lg text-center py-24">
      لا توجد أماكن مفضلة بعد. أضف بعض الأماكن إلى المفضلة لتظهر هنا.
    </p>
    } @else {
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6"
    >
      @for (item of favoritePlaces(); track item.id) {
      <app-card [item]="item" />
      }
    </div>
    }
  </div>
</div>
