<div
  class="container mx-auto py-20 px-4 text-center 2xl:min-h-[calc(80vh-56px)]"
  @fadeInUp
>
  <h2 class="lg:text-4xl text-3xl font-bold text-titles-text mb-6">
    جذور ليبيا
  </h2>
  <p class="text-muted-text lg:text-xl text-lg mb-4 leading-loose">
    <span class="text-titles-text font-bold lg:text-2xl text-xl"
      >"جذور ليبيا"</span
    >
    هو منصة رقمية مبتكرة تهدف إلى الترويج للسياحة في ليبيا من خلال عرض ثري
    وتفاعلي لأبرز معالمها التاريخية والطبيعية والثقافية. يعكس الموقع العمق
    الحضاري الذي تتمتع به ليبيا، ويُبرز الكنوز التي لا تزال مجهولة لدى الكثيرين،
    سواء من المحليين أو الزوار الأجانب.
  </p>
  <p class="text-muted-text lg:text-xl text-lg mb-4 leading-loose">
    تم تصميم الموقع بطريقة تتيح للزائر تصفح الأماكن السياحية بسهولة من خلال
    تصنيفات متعددة تشمل
    <span class="font-semibold"
      >المعالم الأثرية، المنتجعات، المتاحف، الحدائق، المطاعم، الفنادق، مراكز
      التسوق، الشواطئ، المساجد، المقاهي، والأسواق التقليدية</span
    >. كما يمكن استعراض جميع الأماكن أو اختيار تصنيف محدد.
  </p>
  <p class="text-muted-text lg:text-xl text-lg mb-4 leading-loose">
    تعرض الصفحة الرئيسية جميع الفئات السياحية بطريقة أنيقة ومنظمة، مما يسهّل على
    الزائر استكشاف الوجهات المختلفة. ولكل مكان صفحة مخصصة تحتوي على صورته، اسمه،
    نوعه، المدينة التي يقع فيها، ووصفًا مختصرًا، بالإضافة إلى زر يتيح عرض الموقع
    مباشرة على خرائط Google.
  </p>
  <p class="text-muted-text lg:text-xl text-lg mb-4 leading-loose">
    يمكن للزائر أيضًا حفظ الأماكن المفضلة بنقرة واحدة، حيث يتم تخزينها تلقائيًا
    لسهولة الرجوع إليها لاحقًا عبر صفحة
    <span class="font-semibold">"المفضلة"</span>. هذه الخاصية تتيح تخطيط الرحلات
    بشكل مخصص حسب اهتمامات المستخدم.
  </p>
  <p class="text-muted-text lg:text-xl text-lg mb-4 leading-loose">
    يطمح "جذور ليبيا" إلى تقديم تجربة استكشاف افتراضية ثرية، من خلال صور عالية
    الجودة وتصميم عصري متجاوب مع جميع الأجهزة. ويخطط الموقع في المستقبل لإطلاق
    تطبيق موبايل، وتوفير خدمات الحجز المباشر، بالإضافة إلى إتاحة خاصية مشاركة
    الصور والمراجعات من قبل الزوّار والباحثين.
  </p>
  <p
    class="lg:text-xl text-lg mt-8 font-semibold leading-loose text-titles-text"
  >
    هل أنت مستعد لاكتشاف ليبيا؟<br />
    تصفّح، احفظ، وانطلق في مغامرة لا تُنسى.
  </p>
</div>
