<div
  class="w-full max-w-sm bg-white rounded-lg shadow-md overflow-hidden border border-border flex flex-col group hover:cursor-pointer"
>
  <div class="relative">
    <img
      src="assets/mosque.webp"
      alt="صورة المكان"
      class="w-full h-48 object-cover group-hover:transform group-hover:scale-105 transition-transform duration-300"
    />
    <button
      class="absolute top-2 left-2 bg-white/80 rounded-full w-7 h-7 hover:scale-105 transition flex items-center justify-center shadow-md hover:bg-white/90 cursor-pointer"
    >
      <mat-icon class="text-xs leading-none">favorite_border</mat-icon>
    </button>
  </div>

  <div class="p-4 text-right">
    <h3 class="text-lg font-bold text-titles-text leading-snug mb-2">
      مسجد الدعوة الإسلامية
    </h3>
    <p class="text-sm text-muted-text mb-4">
      مسجد الدعوة الإسلامية هو أحد المعالم الدينية البارزة في مدينة طرابلس،
      يتميز بتصميمه المعماري الفريد وجمال زخارفه الإسلامية التقليدية.
    </p>
    <div class="flex justify-between items-center mt-4">
      <span class="text-sm text-muted-text">طرابلس</span>
      <span class="text-sm text-muted-text">مسجد</span>
    </div>
  </div>
</div>
