<div
  class="w-full max-w-sm rounded-lg shadow-lg overflow-hidden border border-border flex flex-col group hover:cursor-pointer"
>
  <div class="block" (click)="navigateToSite()">
    <div class="relative overflow-hidden">
      <img
        [src]="'assets/places/' + item.image"
        alt="صورة المكان"
        class="object-cover w-full h-48 group-hover:scale-105 transition-transform duration-300"
      />
      <button
        (click)="toggleFavorite($event)"
        class="absolute top-2 left-2 bg-white/80 rounded-full w-7 h-7 hover:scale-105 transition flex items-center justify-center shadow-md hover:bg-white/90 cursor-pointer"
      >
        <mat-icon class="text-xs leading-none">
          {{ item.isFavorite ? "favorite" : "favorite_border" }}
        </mat-icon>
      </button>
    </div>

    <div class="p-4 lg:min-h-36 md:min-h-40 relative">
      <h3 class="text-lg font-bold text-titles-text leading-snug mb-2">
        {{ item.name }}
      </h3>
      <p class="text-sm text-muted-text mb-4">
        {{ item.description | slice : 0 : 100 }}...
      </p>
      <div
        class="mt-4 absolute lg:bottom-3 bottom-2 left-0 right-0 flex justify-between px-4"
      >
        <span class="text-sm text-muted-text">{{ item.city }}</span>
        <span class="text-sm text-muted-text">{{ item.type }}</span>
      </div>
    </div>
  </div>
</div>
