<div class="container mx-auto py-14 2xl:min-h-[calc(80vh-56px)]">
  <div class="px-4 flex flex-col">
    <div
      class="flex justify-between items-center mb-6 flex-col lg:flex-row gap-4 text-center lg:text-right"
    >
      <p>
        <span class="lg:text-2xl text-xl font-bold text-titles-text">{{
          getTitle()
        }}</span>
        <br />
        @if (getSubtitle()) {
        <span class="lg:text-lg text-muted-text">
          {{ getSubtitle() }}
        </span>
        }
      </p>

      <div
        class="flex flex-col lg:flex-row lg:items-center flex-wrap gap-2 w-full lg:w-auto self-end"
      >
        <div
          class="flex lg:items-center justify-between lg:gap-2 gap-0 w-full lg:w-auto"
        >
          <span class="text-titles-text lg:text-xl text-lg">الفئة:</span>
          <select
            class="border border-gray-300 rounded px-3 2xl:w-96 md:w-72 w-4/5"
            [value]="category()"
            (change)="onCategoryChangeEvent($event)"
          >
            <option value="all">الكل</option>
            <option value="historical">معالم أثرية</option>
            <option value="resorts">منتجعات سياحية</option>
            <option value="museums">متاحف</option>
            <option value="parks">حدائق</option>
            <option value="restaurants">مطاعم</option>
            <option value="hotels">فنادق</option>
            <option value="malls">مراكز تسوق</option>
            <option value="beaches">شواطئ</option>
            <option value="mosques">مساجد</option>
            <!-- <option value="churches">كنيسة</option> -->
            <!-- <option value="old-town">منطقة تاريخية</option> -->
            <option value="cafes">مقاهي</option>
            <option value="traditionalMarkets">اسواق تقليدية</option>
          </select>
        </div>
        <!-- Filter by city -->
        <div class="flex items-center justify-between lg:gap-2">
          <span class="text-titles-text lg:text-xl text-lg">المدينة:</span>
          <select
            class="border border-gray-300 rounded px-3 2xl:w-96 md:w-72 w-4/5"
            [value]="city()"
            (change)="onCityChangeEvent($event)"
          >
            <option value="all">الكل</option>
            <option value="tripoli">طرابلس</option>
            <option value="benghazi">بنغازي</option>
            <option value="misrata">مصراتة</option>
            <option value="sabratha">صبراتة</option>
            <option value="sirte">سرت</option>
            <option value="zliten">زليتن</option>
            <option value="khoms">الخمس</option>
            <option value="derna">درنة</option>
            <option value="tobruk">طبرق</option>
            <option value="ghat">غات</option>
          </select>
        </div>
      </div>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6"
    >
      @for (item of filteredItems(); track $index) {
      <app-card [item]="item" />
      }
    </div>
  </div>
</div>
