<div class="container mx-auto py-14 2xl:min-h-[calc(80vh-56px)]">
  <div class="px-2 flex flex-col">
    <div
      class="flex justify-between items-center mb-6 flex-col lg:flex-row gap-4 text-center lg:text-right"
    >
      <p>
        <span class="lg:text-2xl text-xl font-bold text-titles-text">{{
          getTitle()
        }}</span>
        <br />
        @if (getSubtitle()) {
        <span class="lg:text-lg text-muted-text">
          {{ getSubtitle() }}
        </span>
        }
      </p>

      <div
        class="flex flex-col lg:flex-row lg:items-center flex-wrap gap-2 w-full lg:w-auto self-end"
      >
        <div
          class="flex lg:items-center justify-between lg:gap-2 gap-0 w-full lg:w-auto"
        >
          <span class="text-titles-text lg:text-xl text-lg">الفئة:</span>
          <select
            class="border border-gray-300 rounded px-3 2xl:w-96 md:w-72 w-4/5"
            [value]="category()"
            (change)="onCategoryChangeEvent($event)"
          >
            @for(category of categories(); track category.value) {
            <option [value]="category.value">{{ category.label }}</option>
            }
          </select>
        </div>
        <!-- Filter by city -->
        <div class="flex items-center justify-between lg:gap-2">
          <span class="text-titles-text lg:text-xl text-lg">المدينة:</span>
          <select
            class="border border-gray-300 rounded px-3 2xl:w-96 md:w-72 w-4/5"
            [value]="city()"
            (change)="onCityChangeEvent($event)"
          >
            @for (city of cities(); track city.value) {
            <option [value]="city.value">{{ city.label }}</option>
            }
          </select>
        </div>
      </div>
    </div>
    @if(filteredItems().length === 0) {
    <p class="text-muted-text lg:text-xl text-lg text-center py-24">
      يبدو أن هذه المدينة لا تحتوي على معالم تنتمي لهذه الفئة.
      <br />
      جرّب اختيار فئة أو مدينة أخرى لتكتشف المزيد من روائع ليبيا!
    </p>

    } @else {
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6"
    >
      @for (item of filteredItems(); track $index) {
      <app-card [item]="item" />
      }
    </div>
    }
  </div>
</div>
