<div class="carousel-wrapper overflow-hidden relative">
  <div
    #scrollContainer
    class="carousel-track flex gap-4 overflow-x-auto scroll-smooth"
    (touchstart)="startDrag($event)"
    (touchmove)="onDrag($event)"
    (touchend)="endDrag()"
    (mousedown)="startDrag($event)"
    (mousemove)="onDrag($event)"
    (mouseup)="endDrag()"
    (mouseleave)="endDrag()"
  >
    @for (item of items; track $index) {
    <div
      class="shrink-0 h-72 sm:h-80 w-[85%] sm:w-[calc(100%/3.5)] rounded-xl bg-cover bg-center text-white relative overflow-hidden group"
    >
      <!-- scroll top to the page when navigate -->
      <a
        [routerLink]="['/places']"
        [queryParams]="{ q: item.category }"
        class="block w-full h-full"
        draggable="false"
      >
        <img
          [src]="item.image"
          alt=""
          class="absolute inset-0 w-full h-full object-cover object-top group-hover:scale-105 transition-transform duration-300"
        />
        <div
          class="absolute inset-0 bg-black/40 rounded-xl p-4 flex flex-col justify-end"
        >
          <span
            class="bg-white/20 rounded-full px-2 py-1 text-sm w-fit mb-2 absolute top-4 left-2"
          >
            <p>{{ item.title }}</p>
          </span>
        </div>
      </a>
    </div>
    }
  </div>

  <button
    (click)="scrollLeft()"
    mat-icon-button
    class="absolute top-1/2 left-2 z-20 -translate-y-1/2 bg-white rounded-full w-7 h-7 shadow-md hover:scale-105 transition flex items-center justify-center hover:bg-white/90 cursor-pointer md:block hidden"
    aria-label="Previous"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>

  <button
    (click)="scrollRight()"
    mat-icon-button
    class="absolute top-1/2 right-2 z-20 -translate-y-1/2 bg-white rounded-full w-7 h-7 shadow-md hover:scale-105 transition flex items-center justify-center hover:bg-white/90 cursor-pointer md:block hidden"
    aria-label="Next"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
