/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* @plugin "tailwindcss-primeui"; */

@theme {
  --color-border: #e2e8f0;
  --color-primary-text: #334155;
  --color-titles-text: oklch(20.8% 0.042 265.755);
  --color-muted-text: oklch(55.4% 0.046 257.417);
  --color-accent: #7c4700;
}
/* color: #005F73; 🔵 Deep Teal-Blue*/
/* color: #5D3A9B; 🟣 Royal Plum*/
/* color: #9B2226; 🔴 Muted Crimson */
/* color: #7C4700; 🟤 Classic Desert Bronze */
/* color: #1E2A38; ⚫ Midnight Navy */
/* color: #D97706; 🟠 Soft Burnt Orange */
/* color: #008768  🟢 Emerald Green */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "El Messiri", sans-serif;
}
